<footer>
    <div class="f-info">
        <div class="f-info-sicial">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-x-twitter"></i>
        </div>
        <div class="f-info-brand">&copy;pillowPost private limited</div>
        <div class="f-info-link">
            <a href="/privacy"><i class="Privicy"> Privacy</i></a>
            <a href="/term"><i class="Term">Term</i></a>
               
        </div>
    </div>
</footer>