<% layout('/layouts/boilerplate') -%>
<div class="row">
  <div class="col-8 offset-2">
    <h2>All Users</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Admin</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% for (let u of users) { %>
          <tr>
            <td><%= u.username %></td>
            <td><%= u.email %></td>
            <td><%= u.isAdmin ? 'Yes' : 'No' %></td>
            <td>
              <a href="/admin/users/<%= u._id %>/edit" class="btn btn-sm btn-primary">Edit</a>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
</div>